.title {
    color: rgb(29, 54, 54);
    font-weight: 700;
}

.register-btn {
    background-color: darkslategrey;
    border-radius: 10px;
    border: none;
}

.register-btn:hover {
    background-color: rgba(22, 129, 161, 0.747);
}