.question-1 {
    background-color: bisque;
    border: 2px solid gray;
    padding: 10px;
}

.question-2 {
    background-color: bisque;
    border: 2px solid gray;
    padding: 10px;
}

.question-3 {
    background-color: bisque;
    border: 2px solid gray;
    padding: 10px;
}